 div,
        fieldset,
        input,
        select {
            padding: 5px;
            font-size: 1em;
        }
        
        fieldset {
            background: #f2f2f2;
        }
        
        p {
            margin: 0.5em 0;
        }
        
        input {
            width: 100%;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            background: #ffffff;
            color: #000000;
        }
        
        input[type=checkbox],
        input[type=radio] {
            width: 1em;
            margin-right: 6px;
            vertical-align: -1px;
        }
        
        select {
            width: 100%;
            background: #ffffff;
            color: #000000;
        }
        
        textarea {
            resize: none;
            width: 98%;
            height: 318px;
            padding: 5px;
            overflow: auto;
            background: #ffffff;
            color: #000000;
        }
        
        body {
            text-align: center;
            font-family: verdana, sans-serif;
            background: #ffffff;
        }
        
        td {
            padding: 0px;
        }
        
        button {
            border: 0;
            border-radius: 0.3rem;
            background: #1fa3ec;
            color: #ffffff;
            line-height: 2.4rem;
            font-size: 1.2rem;
            width: 100%;
            -webkit-transition-duration: 0.4s;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        
        button:hover {
            background: #0e70a4;
        }
        
        .bred {
            background: #d43535;
        }
        
        .bred:hover {
            background: #931f1f;
        }
        
        .bgrn {
            background: #47c266;
        }
        
        .bgrn:hover {
            background: #5aaf6f;
        }
        
        a {
            text-decoration: none;
        }
        
        .p {
            float: left;
            text-align: left;
        }
        
        .q {
            float: right;
            text-align: right;
        }