<div class="div0">
	<div class="openPopup"><span class="openPopupTitile">tuya-{{item.devIdShort}}</span> <img src="{0}:{1}/image/PopOut_002.png" class="popup-icon" onclick="navigate('{{item.nodeId}}')" /> </div>
	<div class="button-table">
		<table class="button-table-t">
			<tbody>	
				<tr style="text-align:center; line-height:46px">
					<td style="width:50%">
						<button id='{{item.nodeId}}_dev1' onclick="lo(1,'{{item.nodeId}}');">1</button>
					</td>
					<td style="width:50%">
						<button id='{{item.nodeId}}_dev2' onclick="lo(2,'{{item.nodeId}}');">2</button>
					</td>
				</tr>
			</tbody>
				</table>
		<div class="titile" style="margin-top: 11px;">
		<span>{{item.titleShort}}</span>
	</div>
	</div>
</div>